
.right__main__message
  .right__main__message__name
    = message.user.name
  .right__main__message__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
.lower-message__image
  - if message.content.present?
    .right__main__message__comment
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?



  -# .right__bottom
  -#   =link_to "SEND",'' ,class: "right__bottom__button"
  -#   .right__bottom__text-place
  -#     %textarea{name: "name", placeholder: "type a message", style: "width : 100%; height :50px"}

