.left
  .left__top
    =link_to current_user.name,'' ,class: "left__top__title"
    .left__top__icon-place
      =link_to '','' ,class: "far fa-edit"
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog'

  .left__main
    =link_to "tea",'' ,class: "left__main__group-title"
    =link_to "Hello world!",'' ,class: "left__main__group-text"
    =link_to "sample",'' ,class: "left__main__group-title"
    =link_to "yahoo world!",'' ,class: "left__main__group-text"