.left__top{
  height: 128px;
  background-color: #253141;
  border-bottom: #eeeeee;
  padding-left: 20px;
  padding-right: 20px;





  &__title{
    font-size:  16px;
    font-weight:  bold;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 35px;
    float: left;

  
  }

  &__icon-place{
  text-align: right;
  padding-top: 35px;
  }


  a.far{
    color: #FFFFFF;
  }

  a.fas{
    color: #FFFFFF;
  }

}