.right__main{
  width: 100%;
  margin-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  background-color: #fafafa;
  right: 0;
  height: calc(100% - 228px);
  position : absolute ;
  float: right;


  &__name{
    font-size: 16px;
    color: #434A54;
    font-weight: bold;
  }

  &__date{
    font-size: 12px;
    color:$maintitleColor;
  }

  &__comment{
    margin-top: 10px;
    font-size: 14px;
    color: #434A54;
    margin-bottom: 40px;
  }
}