

.right__top{
  width: 100%;
  border-bottom: medium solid #eeeeee;
  height: 128px;
  right: 0;
  margin: 0;
  top:0;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;

  .right__top__edit-place{
    margin-top: 28px; 
    float: right;
    height: 40px;

    .right__top__edit-place__edit{
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
     
      text-align: right;
      color: #38AEF0;
      border-style: solid;
      border-width: 1px;
      border-color: $bottunColor;
      
    }
  }
  
  .right__top__current-group{
  padding-top: 35px;
  font-size: 20px;
  color: #333333;
  }

  .right__top__current-text{
    margin-top: 15px;
    font-size: 12px;
    color:$maintitleColor;
  }

  .right__top__edit-place__edit{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  
    text-align: right;
    color: #38AEF0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  
  }
}












